@import "tailwindcss";

/* // Add this CSS to your global stylesheet or in a CSS module */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the color as needed */
    border-radius: 4px; /* Adjust the border radius as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
